.skills{
    /* width: 1200px; */
    height: 495px;
    background-color:#415165;
    color:#fff;
    text-align: center;
    box-sizing: initial;
    padding-top: 24px;
    margin-bottom: 72px;
    /* position: relative; */
}

.skills-title{
    font-size: 32px;
    line-height: 45px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.skills-title span{
    margin-left: 16px;
    font-size: 24px;
    line-height: 32px;
    
}

.skills hr{
    width: 996px;
    margin-bottom: 40px;
}

.skills-list{
    display: block;
    width: 230px;
    margin:0 auto;
    border-left:1px solid #ffff;
    font-size: 24px;
    font-family: Roboto-light;
    font-weight: 100;
    line-height: 36px;
}

.skills-list li{
    display: block;
    margin-bottom: 16px;
    text-align: left;
    padding-left:24px;
   
}

.skills-list li:last-child{
   margin-bottom: 0;
}

/* .background-decoration{
    width: 300%;
    left:-100%;
    top:67px;
    background-color: #415165;
    height: 360px;
    z-index: -999;
    position: absolute;
   

} */